@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.title{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:30px;
}
.button{
    width:100px;
    height:100px;
    border:none;
}
img{
    width:100px;
    height:70px;
}